* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
:root {
  --cor-principal: #01341B;
  --cor-secundaria: #09502d;
}

  body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-principal);
    padding: 30px;
    flex-shrink: 0;
    color: white;
    top: 0;
    width: 100%;
    z-index: 100000;
  }

  .logo img {
    width: 200px;
  }

  /* menu lateral */
  
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
   margin: 2px;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 26, 2, 0.7);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    z-index: 1001;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
  
  .menu.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu ul li {
    margin: 20px;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  .user-btn button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .user-btn a {
    color: white;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
    transition: opacity 0.3s ease;
  }
  
.select-container {
  margin-top: 40px;
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.select-container span {
  background-color: var(--cor-secundaria);
  padding: 10px;
  border-radius: 50px 0px 0px 50px;
  color: white;
}

select {
  appearance: none;
  background-color: var(--cor-secundaria); 
  color: white; 
  padding: 10.5px; 
  border-radius: 0px 50px 50px 0px; 
  border: none; 
  cursor: pointer;
  font-size: 16px; 
  width: 100%;
  max-width: 280px; 
  font-family: Arial, sans-serif;
}

footer {
  background-color: var(--cor-principal);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-bottom: 10px;
  bottom: 0;
  justify-content: center;
}

.logo2 img {
  width: 150px;
}

#map { 
  height: 400px;
  width: 100%;
}